* { 
    box-sizing: border-box;
}
 
body {
    font-family : 'Roboto', sans-serif;
}

.header {
    background-color: #EEEFF1;
    padding-top: 79px;
    padding-bottom: 141px;
}

.container {
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
}

.nav{
    margin-bottom: 160px;
}

.item {
    display: inline-block;
    vertical-align: top;
    margin-right: 42px;
}

.link {
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.1em;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
}

.link.active,
.link:hover {
    color: #34547A;
    font-weight: 500;
}

.link:last-child {
    margin-right: 0px;
}


.title {
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    color: #000000;
    margin-bottom: 45px;
}

.text {
    width: 540px;
    font-size: 16px;
    line-height: 26px;  
    color: #727272;
    margin-bottom: 54px;
}

.button {
    display: inline-block;
    vertical-align: top;
    background-color: #34547A;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    text-decoration: none;
    padding: 19px 41px 20px 41px;
}

.about {
    background-color: #F9F9F9;
    padding-top: 112px;
    padding-bottom: 89px;
}

.sub-title {
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    margin-bottom: 42px;
}

.text.center{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.about .text.center{
    margin-bottom: 0px;
}

.cards {
    background-color: #34547A;
    padding-top: 100px;
    padding-bottom: 100px;
}

.card-icon {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}

.card-info {
    display: inline-block;
    vertical-align: top;
    padding-top: 3px;
}

.card-title {
    font-weight: 500;
    font-size: 21px;
    line-height: 24px;
    margin-bottom: 5px;
    color: #FFFFFF;
}

.card-text {
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
}

.card {
    display: inline-block;
    vertical-align: top;
    margin-right: 49px;
}

.card:last-child {
    margin-right: 0px;
}

.content {
    background-color: #EEEFF1;
    ;
    padding-top: 100px;
    padding-bottom: 100px;
}

.video {
    display: block;
    width: 1110px;
    height: 600px;
}

.content .text.center {
    margin-bottom: 46px;
}

.footer {
    background-color: #34547A;
    padding-top: 50px;
    padding-bottom: 47px;
    color: #FFFFFF;
}

.name {
    font-weight: 500;
    font-size: 21px;
    line-height: 24px;
    margin-bottom: 15px;
}

.copyright {
    font-size: 13px;
    line-height: 15px;
}